In [18]:
# Pandas and JSON Dependencies
import pandas as pd
import json

# The path to our CSV files
moviesCSV = "Resources/tmdb_5000_movies.csv"
creditsCSV = "Resources/tmdb_5000_credits.csv"

In [22]:
# SQLAlchemy Dependency
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
engine = create_engine('postgresql://postgres:Postgre123!@localhost:5432/newMoviesDB')

# Create Postgres DB
if not database_exists(engine.url):
    create_database(engine.url)

In [2]:
# Read our movie data into pandas
moviesDF = pd.read_csv(moviesCSV)

# Get a list of all of our columns for easy reference
moviesDF.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [3]:
# Read our credits data into pandas
creditsDF = pd.read_csv(creditsCSV)

# Get a list of all of our columns for easy reference
creditsDF.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [4]:
# Rename the id column in moviesDF
moviesDF.rename(columns = {'id':'movie_id'}, inplace = True)

In [5]:
# Merge the movies and credits DFs on movie_id
mergedDF = pd.merge(moviesDF, creditsDF, on="movie_id")
mergedDF.head(2)

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [6]:
# Rename the existing genres column in mergedDF
mergedDF.rename(columns = {'genres':'old_genres'}, inplace = True)

In [7]:
# Create a list of sub-lists that will consitute a new genres column
genresList = []

# Create a loop through the table to populate the master list (genresList)
for row in range(len(mergedDF.index)):
    
    # Create a sublist to append to the master list
    genres = []
    
    # Locate the dictionary in the "old_genres" column of each row
    dictString = mergedDF["old_genres"][row]
    
    # Convert the string object to a real dictionary
    dictReal = json.loads(dictString)

    # Loop through the items of the dictionary
    for i in range(len(dictReal)):
        
        # Append the 'name' attribute to the list of genres
        genres.append(dictReal[i]['name'])
        
        # Use the join function to convert the list to a string (for visual appeal)
        listString = ". ".join(genres)

    # Append the listString of genres to the master list
    genresList.append(listString)

In [8]:
# Convert the master list (genresList) into a new column in the table
mergedDF['genres'] = genresList

# Delete the original column (old_genres)
del mergedDF['old_genres']

# Display the resultant table
mergedDF.head(2)

,budget,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew,genres
0,237000000,http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Action. Adventure. Fantasy. Science Fiction
1,300000000,http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Adventure. Fantasy. Action

In [9]:
# Rename the existing keywords column in mergedDF
mergedDF.rename(columns = {'keywords':'old_keywords'}, inplace = True)

# Create a list of sub-lists that will consitute a new keywords column
keywordsList = []

# Create a loop through the table to populate the master list (keywordsList)
for row in range(len(mergedDF.index)):
    
    # Create a sublist to append to the master list
    keywords = []

    # Locate the dictionary in the "old_keywords" column of each row
    dictString = mergedDF["old_keywords"][row]

    # Convert the string object to a real dictionary
    dictReal = json.loads(dictString)

    # Loop through the items of the dictionary
    for i in range(len(dictReal)):

        # Append the 'name' attribute to the list of keywords
        keywords.append(dictReal[i]['name'])

        # Use the join function to convert the list to a string (for visual appeal)
        listString = ". ".join(keywords)

    # Append the listString of keywords to the master list
    keywordsList.append(listString)
    
# Convert the master list (keywordsList) into a new column in the table
mergedDF['keywords'] = keywordsList

# Delete the original column (old_keywords)
del mergedDF['old_keywords']

# Display the resultant table
mergedDF.head(2)

,budget,homepage,movie_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,...,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew,genres,keywords
0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,...,Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Action. Adventure. Fantasy. Science Fiction,culture clash. future. space war. space colony...
1,300000000,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,...,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Adventure. Fantasy. Action,ocean. drug abuse. exotic island. east india t...

In [10]:
# Rename the existing 'production_companies' column in mergedDF
mergedDF.rename(columns = {'production_companies':'oldProductionCompanies'}, inplace = True)

# Create a list of sub-lists that will consitute a new production_companies column
productionCompaniesList = []

# Create a loop through the table to populate the master list (productionCompaniesList)
for row in range(len(mergedDF.index)):
    
    # Create a sublist to append to the master list
    productionCompanies = []

    # Locate the dictionary in the "oldProductionCompanies" column of each row
    dictString = mergedDF["oldProductionCompanies"][row]

    # Convert the string object to a real dictionary
    dictReal = json.loads(dictString)

    # Loop through the items of the dictionary
    for i in range(len(dictReal)):

        # Append the 'name' attribute to the list of production companies
        productionCompanies.append(dictReal[i]['name'])

        # Use the join function to convert the list to a string (for visual appeal)
        listString = ". ".join(productionCompanies)

    # Append the listString of companies to the master list
    productionCompaniesList.append(listString)
    
# Convert the master list (productionCompaniesList) into a new column in the table
mergedDF['production_companies'] = productionCompaniesList

# Delete the original column (oldProductionCompanies)
del mergedDF['oldProductionCompanies']

# Display the resultant table
mergedDF.head(2)

,budget,homepage,movie_id,original_language,original_title,overview,popularity,production_countries,release_date,revenue,...,tagline,title_x,vote_average,vote_count,title_y,cast,crew,genres,keywords,production_companies
0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,...,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Action. Adventure. Fantasy. Science Fiction,culture clash. future. space war. space colony...,Ingenious Film Partners. Twentieth Century Fox...
1,300000000,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,...,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Adventure. Fantasy. Action,ocean. drug abuse. exotic island. east india t...,Walt Disney Pictures. Jerry Bruckheimer Films....

In [11]:
# Rename the existing 'production_countries' column in mergedDF
mergedDF.rename(columns = {'production_countries':'oldProductionCountries'}, inplace = True)

# Create a list of sub-lists that will consitute a new production_countries column
productionCountriesList = []

# Create a loop through the table to populate the master list (productionCountriesList)
for row in range(len(mergedDF.index)):
    
    # Create a sublist to append to the master list
    productionCountries = []

    # Locate the dictionary in the "oldProductionCountries" column of each row
    dictString = mergedDF["oldProductionCountries"][row]

    # Convert the string object to a real dictionary
    dictReal = json.loads(dictString)

    # Loop through the items of the dictionary
    for i in range(len(dictReal)):

        # Append the 'name' attribute to the list of production countries
        productionCountries.append(dictReal[i]['name'])

        # Use the join function to convert the list to a string (for visual appeal)
        listString = ". ".join(productionCountries)

    # Append the listString of countries to the master list
    productionCountriesList.append(listString)
    
# Convert the master list (productionCountriesList) into a new column in the table
mergedDF['production_countries'] = productionCountriesList

# Delete the original column (oldProductionCountries)
del mergedDF['oldProductionCountries']

# Display the resultant table
mergedDF.head(2)

,budget,homepage,movie_id,original_language,original_title,overview,popularity,release_date,revenue,runtime,...,title_x,vote_average,vote_count,title_y,cast,crew,genres,keywords,production_companies,production_countries
0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,...,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Action. Adventure. Fantasy. Science Fiction,culture clash. future. space war. space colony...,Ingenious Film Partners. Twentieth Century Fox...,United States of America. United Kingdom
1,300000000,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,...,Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Adventure. Fantasy. Action,ocean. drug abuse. exotic island. east india t...,Walt Disney Pictures. Jerry Bruckheimer Films....,United States of America

In [12]:
# Rename the existing 'spoken_languages' column in mergedDF
mergedDF.rename(columns = {'spoken_languages':'oldSpokenLanguages'}, inplace = True)

# Create a list of sub-lists that will consitute a new spoken_languages column
spokenLanguagesList = []

# Create a loop through the table to populate the master list (spokenLanguagesList)
for row in range(len(mergedDF.index)):
    
    # Create a sublist to append to the master list
    spokenLanguages = []

    # Locate the dictionary in the "oldSpokenLanguages" column of each row
    dictString = mergedDF["oldSpokenLanguages"][row]

    # Convert the string object to a real dictionary
    dictReal = json.loads(dictString)

    # Loop through the items of the dictionary
    for i in range(len(dictReal)):

        # Append the 'name' attribute to the list of spoken languages
        spokenLanguages.append(dictReal[i]['name'])

        # Use the join function to convert the list to a string (for visual appeal)
        listString = ". ".join(spokenLanguages)

    # Append the listString of spoken languages to the master list
    spokenLanguagesList.append(listString)
    
# Convert the master list (spokenLanguagesList) into a new column in the table
mergedDF['spoken_languages'] = spokenLanguagesList

# Delete the original column (oldSpokenLanguages)
del mergedDF['oldSpokenLanguages']

# Display the resultant column
mergedDF['spoken_languages']

0                                    English. EspaÃ±ol
1                                             English
2       FranÃ§ais. English. EspaÃ±ol. Italiano. Deutsch
3                                             English
4                                             English
                            ...
4798                                          EspaÃ±ol
4799                                          EspaÃ±ol
4800                                          English
4801                                          English
4802                                          English
Name: spoken_languages, Length: 4803, dtype: object

In [13]:
# Rename the existing 'cast' column in mergedDF
mergedDF.rename(columns = {'cast':'old_cast'}, inplace = True)

# Create a list of sub-lists that will consitute a new cast column
castList = []

# Create a loop through the table to populate the master list (castList)
for row in range(len(mergedDF.index)):
    
    # Create a sublist to append to the master list
    cast = []

    # Locate the dictionary in the "old_cast" column of each row
    dictString = mergedDF["old_cast"][row]

    # Convert the string object to a real dictionary
    dictReal = json.loads(dictString)
    
    # If there are at least 10 cast members, choose the first 10
    if len(dictReal) >= 10:
    
        # Loop through the **FIRST TEN** items of the dictionary
        for i in range(10):

            # Append the 'name' attribute to the list of the **FIRST TEN** cast members
            cast.append(dictReal[i]['name'])

            # Use the join function to convert the list to a string (for visual appeal)
            listString = ". ".join(cast)
            
    # If these are fewer than 10 cast members, choose all of them
    else:
        # Loop through **ALL** the items of the dictionary
        for i in range(len(dictReal)):

            # Append the 'name' attribute to the list of the **ALL** cast members
            cast.append(dictReal[i]['name'])

            # Use the join function to convert the list to a string (for visual appeal)
            listString = ". ".join(cast)

    # Append the listString of cast members to the master list
    castList.append(listString)
    
# Convert the master list (castList) into a new column in the table
mergedDF['main_cast'] = castList

# Delete the original column (old_cast)
del mergedDF['old_cast']

# Display the resultant table
mergedDF.head(2)

,budget,homepage,movie_id,original_language,original_title,overview,popularity,release_date,revenue,runtime,...,vote_average,vote_count,title_y,crew,genres,keywords,production_companies,production_countries,spoken_languages,main_cast
0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,...,7.2,11800,Avatar,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Action. Adventure. Fantasy. Science Fiction,culture clash. future. space war. space colony...,Ingenious Film Partners. Twentieth Century Fox...,United States of America. United Kingdom,English. EspaÃ±ol,Sam Worthington. Zoe Saldana. Sigourney Weaver...
1,300000000,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,...,6.9,4500,Pirates of the Caribbean: At World's End,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Adventure. Fantasy. Action,ocean. drug abuse. exotic island. east india t...,Walt Disney Pictures. Jerry Bruckheimer Films....,United States of America,English,Johnny Depp. Orlando Bloom. Keira Knightley. S...

In [14]:
# Rename the existing 'crew' column in mergedDF
mergedDF.rename(columns = {'crew':'old_crew'}, inplace = True)

# Create a list of sub-lists that will consitute a new crew column
crewList = []

# Create a loop through the table to populate the master list (crewList)
for row in range(len(mergedDF.index)):
    
    # Create a sublist to append to the master list
    crew = []

    # Locate the dictionary in the "old_crew" column of each row
    dictString = mergedDF["old_crew"][row]

    # Convert the string object to a real dictionary
    dictReal = json.loads(dictString)
    
    # If there are at least 10 crew members, choose the first 10
    if len(dictReal) >= 10:
    
        # Loop through the **FIRST TEN** items of the dictionary
        for i in range(10):

            # Append the 'name' attribute to the list of the **FIRST TEN** crew members
            crew.append(dictReal[i]['name'])

            # Use the join function to convert the list to a string (for visual appeal)
            listString = ". ".join(crew)
            
    # If these are fewer than 10 crew members, choose all of them
    else:
        # Loop through **ALL** the items of the dictionary
        for i in range(len(dictReal)):

            # Append the 'name' attribute to the list of the **ALL** crew members
            crew.append(dictReal[i]['name'])

            # Use the join function to convert the list to a string (for visual appeal)
            listString = ". ".join(crew)

    # Append the listString of crew members to the master list
    crewList.append(listString)
    
# Convert the master list (crewList) into a new column in the table
mergedDF['main_crew'] = crewList

# Delete the original column (old_crew)
del mergedDF['old_crew']

# Display the resultant table
mergedDF.head(2)

,budget,homepage,movie_id,original_language,original_title,overview,popularity,release_date,revenue,runtime,...,vote_average,vote_count,title_y,genres,keywords,production_companies,production_countries,spoken_languages,main_cast,main_crew
0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,...,7.2,11800,Avatar,Action. Adventure. Fantasy. Science Fiction,culture clash. future. space war. space colony...,Ingenious Film Partners. Twentieth Century Fox...,United States of America. United Kingdom,English. EspaÃ±ol,Sam Worthington. Zoe Saldana. Sigourney Weaver...,Stephen E. Rivkin. Rick Carter. Christopher Bo...
1,300000000,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,...,6.9,4500,Pirates of the Caribbean: At World's End,Adventure. Fantasy. Action,ocean. drug abuse. exotic island. east india t...,Walt Disney Pictures. Jerry Bruckheimer Films....,United States of America,English,Johnny Depp. Orlando Bloom. Keira Knightley. S...,Dariusz Wolski. Gore Verbinski. Jerry Bruckhei...

In [15]:
# Get a new list of all of our columns for easy reference
mergedDF.columns

Index(['budget', 'homepage', 'movie_id', 'original_language', 'original_title',
       'overview', 'popularity', 'release_date', 'revenue', 'runtime',
       'status', 'tagline', 'title_x', 'vote_average', 'vote_count', 'title_y',
       'genres', 'keywords', 'production_companies', 'production_countries',
       'spoken_languages', 'main_cast', 'main_crew'],
      dtype='object')

In [16]:
# Scan the title columns
titlesDF = mergedDF.loc[:, ["original_title", "title_x", "title_y"]]
#titlesDF.head(5)

# Delete the extra title columns
mergedDF = mergedDF.drop(['title_x','title_y'], axis=1) # Axis=1 tells Pandas to drop the columns (Axis=0 is for rows)
mergedDF.columns

# Delete the status column (every status is 'released')
del mergedDF['status']

# Delete the movie_id column (irrelevant info for us)
del mergedDF['movie_id']

# Reorder the columns for better viewability
reorderedDF = mergedDF[['original_title','genres','keywords','main_cast','main_crew','release_date','runtime','budget','revenue','popularity','vote_average','vote_count','production_companies','production_countries','original_language']]
reorderedDF.head(5)

,original_title,genres,keywords,main_cast,main_crew,release_date,runtime,budget,revenue,popularity,vote_average,vote_count,production_companies,production_countries,original_language
0,Avatar,Action. Adventure. Fantasy. Science Fiction,culture clash. future. space war. space colony...,Sam Worthington. Zoe Saldana. Sigourney Weaver...,Stephen E. Rivkin. Rick Carter. Christopher Bo...,2009-12-10,162.0,237000000,2787965087,150.437577,7.2,11800,Ingenious Film Partners. Twentieth Century Fox...,United States of America. United Kingdom,en
1,Pirates of the Caribbean: At World's End,Adventure. Fantasy. Action,ocean. drug abuse. exotic island. east india t...,Johnny Depp. Orlando Bloom. Keira Knightley. S...,Dariusz Wolski. Gore Verbinski. Jerry Bruckhei...,2007-05-19,169.0,300000000,961000000,139.082615,6.9,4500,Walt Disney Pictures. Jerry Bruckheimer Films....,United States of America,en
2,Spectre,Action. Adventure. Crime,spy. based on novel. secret agent. sequel. mi6...,Daniel Craig. Christoph Waltz. LÃ©a Seydoux. Ra...,Thomas Newman. Sam Mendes. Anna Pinnock. John ...,2015-10-26,148.0,245000000,880674609,107.376788,6.3,4466,Columbia Pictures. Danjaq. B24,United Kingdom. United States of America,en
3,The Dark Knight Rises,Action. Crime. Drama. Thriller,dc comics. crime fighter. terrorist. secret id...,Christian Bale. Michael Caine. Gary Oldman. An...,Hans Zimmer. Charles Roven. Christopher Nolan....,2012-07-16,165.0,250000000,1084939099,112.312950,7.6,9106,Legendary Pictures. Warner Bros.. DC Entertain...,United States of America,en
4,John Carter,Action. Adventure. Science Fiction,based on novel. mars. medallion. space travel....,Taylor Kitsch. Lynn Collins. Samantha Morton. ...,Andrew Stanton. Andrew Stanton. John Lasseter....,2012-03-07,132.0,260000000,284139100,43.926995,6.1,2124,Walt Disney Pictures,United States of America,en

In [23]:
reorderedDF.to_sql('new_movies_table', engine)

803

In [ ]:
#reorderedDF.to_csv('movies_db.csv')